/* general aesthetic */
body {
        font-family: Arial, sans-serif;
        background-color: white;
}

/**************** sidebar ********************/
.sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #198DE0;
        overflow-x: hidden;
}

.sidenav a {
        padding: 16px 8px 6px 16px;
        text-decoration: none;
        font-size: 28px;
        color: black;
        display: block;
}

.sidenav a:hover {
        color: white;
}

.main {
        margin-left: 160px;
        font-size: 28px;
        padding: 0px 20px 0px 20px;
}

/**************** headers ****************/
h1 {
        color: #198DE0;
        text-align: left;
}

/* paragraph */
p {
        color: black;
        text-align: left;
}
